<div class="nsw-tabs js-tabs nsw-docs-tabs">
  <ul class="nsw-tabs__list">
    {{#each (lookup tabcontent component.folder)}}
    <li class="nsw-tabs__list-item">
      <a href="#section{{stats.ino}}" class="nsw-tabs__link">{{label}}</a>
    </li>
    {{/each}}
    <li class="nsw-tabs__list-item">
      <a href="#ui-kits" class="nsw-tabs__link">UI kits</a>
    </li>
  </ul>
  {{#each (lookup tabcontent component.folder)}}
  <section id="section{{stats.ino}}" class="nsw-tabs__content nsw-tabs__content--flush">
    {{{contents}}}
  </section>
  {{/each}}
  <section id="ui-kits" class="nsw-tabs__content nsw-tabs__content--flush">
    <h2 class="nsw-section-title">NSW Digital Service</h2>
    <p class="nsw-section-text">If your department uses the NSW Waratah logo, use the NSW Digital Service UI kit.</p>
    <div class="nsw-grid">
      {{#if component.figma}}
      <div class="nsw-col nsw-col-md-4">
        <div class="nsw-card nsw-card--content">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a target="_blank" href="{{component.figma}}" class="nsw-card__link">Figma</a>
              </div>
              <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
            </div>
        </div>
      </div>
      {{/if}}
      {{#if component.html}}
      <div class="nsw-col nsw-col-md-4">
        <div class="nsw-card nsw-card--content">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a target="_blank" href="{{component.html}}" class="nsw-card__link">HTML</a>
              </div>
              <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
            </div>
        </div>
      </div>
      {{/if}}
      {{#if component.react}}
      <div class="nsw-col nsw-col-md-4">
        <div class="nsw-card nsw-card--content">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a target="_blank" href="{{component.react}}" class="nsw-card__link">React</a>
              </div>
              <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
            </div>
        </div>
      </div>
      {{/if}}
    </div>
    {{#if component.kiama}}
    <h2 class="nsw-section-title">Service NSW</h2>
    <p class="nsw-section-text">If you're using the Service NSW brand, Service NSW provides branded UI kits. You can find access instructions in the documentation:</p>
    <div class="nsw-grid">
      <div class="nsw-col nsw-col-md-4">
        <div class="nsw-card nsw-card--content">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a target="_blank" href="{{component.kiama}}" class="nsw-card__link">React</a>
              </div>
              <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
            </div>
        </div>
      </div>
    </div>
    {{/if}}
  </section>
</div>
