<div class="nsw-tabs js-tabs nsw-docs-tabs">
  <ul class="nsw-tabs__list">
    {{#each (lookup tabcontent component.folder)}}
    <li class="nsw-tabs__list-item">
      <a href="#section{{stats.ino}}" class="nsw-tabs__link">{{label}}</a>
    </li>
    {{/each}}
    <li class="nsw-tabs__list-item">
      <a href="#ui-kits" class="nsw-tabs__link">UI kits</a>
    </li>
  </ul>
  {{#each (lookup tabcontent component.folder)}}
  <section id="section{{stats.ino}}" class="nsw-tabs__content nsw-tabs__content--flush">
    {{{contents}}}
  </section>
  {{/each}}
  <section id="ui-kits" class="nsw-tabs__content nsw-tabs__content--flush">
    <h2 class="nsw-section-title">NSW Digital Service</h2>
    <p class="nsw-section-text">If your department uses the NSW Waratah logo, use the NSW Digital Service UI kit.</p>
    <div class="nsw-grid">
      {{#if component.figma}}
      <div class="nsw-col nsw-col-sm-6 nsw-col-md-4">
        <div class="nsw-card nsw-card--content">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <div class="nsw-card__title-icon">
                  <svg width="33" height="48" viewBox="0 0 33 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.003 48c4.416 0 8-3.584 8-8v-8h-8c-4.416 0-8 3.584-8 8s3.584 8 8 8z" fill="#0ACF83"/><path d="M.003 24c0-4.416 3.584-8 8-8h8v16h-8c-4.416 0-8-3.584-8-8z" fill="#A259FF"/><path d="M.003 8c0-4.416 3.584-8 8-8h8v16h-8c-4.416 0-8-3.584-8-8z" fill="#F24E1E"/><path d="M16.003 0h8c4.416 0 8 3.584 8 8s-3.584 8-8 8h-8V0z" fill="#FF7262"/><path d="M32.003 24c0 4.416-3.584 8-8 8s-8-3.584-8-8 3.584-8 8-8 8 3.584 8 8z" fill="#1ABCFE"/></svg>
                </div>
                <a target="_blank" href="{{component.figma}}" class="nsw-card__link">Figma</a>
              </div>
              <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
            </div>
        </div>
      </div>
      {{/if}}
      {{#if component.html}}
      <div class="nsw-col nsw-col-sm-6 nsw-col-md-4">
        <div class="nsw-card nsw-card--content">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <div class="nsw-card__title-icon">
                  <svg width="48" height="48" viewBox="0 0 2500 2500" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M525.169 2299.1L364 491.376h1771L1973.65 2298.82l-725.24 201.06-723.241-200.78z" fill="#E44D26"/><path d="M1249.5 2346.2l586.02-162.48 137.89-1544.53H1249.5V2346.2z" fill="#F16529"/><path d="M1249.5 1309.65H956.126l-20.266-227.03h313.64V860.903H693.551l5.313 59.482 54.49 610.975H1249.5v-221.71zm0 575.8l-.97.27-246.92-66.68-15.788-176.82H763.264l31.065 348.12 454.161 126.07 1.01-.28v-230.68z" fill="#EBEBEB"/><path d="M528.775.117h112.668v111.315h103.064V.117h112.672V337.21H744.507V224.333H641.443V337.21h-112.66L528.775.117zm476.575 111.79h-99.183V.117h311.103v111.79h-99.23V337.21h-112.68V111.907h-.01zM1266.64.117h117.49l72.27 118.447L1528.6.117h117.53V337.21H1533.9V170.125l-77.51 119.856h-1.94l-77.57-119.856V337.21h-110.25V.117h.01zm435.55 0h112.7V225.79h158.46v111.42h-271.16V.117z" fill="#000"/><path d="M1248.74 1309.65v221.71h273.01l-25.74 287.54-247.27 66.74v230.66l454.51-125.96 3.33-37.47 52.11-583.68 5.41-59.54h-515.36zm0-448.747v221.717h535.53l4.44-49.84 10.11-112.395 5.3-59.482h-555.38z" fill="#fff"/></svg>
                </div>
                <a target="_blank" href="{{component.html}}" class="nsw-card__link">HTML</a>
              </div>
              <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
            </div>
        </div>
      </div>
      {{/if}}
      {{#if component.react}}
      <div class="nsw-col nsw-col-sm-6 nsw-col-md-4">
        <div class="nsw-card nsw-card--content">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <div class="nsw-card__title-icon">
                  <svg width="48" height="43" viewBox="0 0 48 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M48 21.378c0-3.18-3.982-6.193-10.087-8.062 1.409-6.223.783-11.173-1.977-12.758C35.3.186 34.556.01 33.745.01v2.182c.45 0 .812.088 1.115.254 1.33.763 1.908 3.669 1.458 7.406a30.13 30.13 0 01-.499 2.877 47.419 47.419 0 00-6.213-1.066 47.722 47.722 0 00-4.07-4.893c3.19-2.964 6.183-4.588 8.219-4.588V0c-2.691 0-6.213 1.918-9.775 5.244C20.42 1.937 16.897.04 14.206.04v2.182c2.026 0 5.03 1.614 8.219 4.56a46.205 46.205 0 00-4.041 4.881 45.692 45.692 0 00-6.223 1.077 29.52 29.52 0 01-.508-2.838c-.46-3.737.107-6.643 1.428-7.416.294-.176.675-.254 1.125-.254V.049c-.822 0-1.565.176-2.21.548-2.75 1.585-3.367 6.526-1.948 12.729C3.962 15.204 0 18.208 0 21.378c0 3.18 3.982 6.193 10.087 8.062-1.409 6.223-.782 11.173 1.977 12.758.636.372 1.38.548 2.201.548 2.69 0 6.213-1.918 9.774-5.244 3.561 3.307 7.084 5.205 9.774 5.205.822 0 1.566-.176 2.212-.548 2.749-1.585 3.365-6.526 1.947-12.729C44.038 27.561 48 24.548 48 21.378zm-12.739-6.526a44.092 44.092 0 01-1.32 3.865 46.386 46.386 0 00-1.282-2.348 53.01 53.01 0 00-1.41-2.29c1.39.205 2.73.46 4.012.773zm-4.48 10.42a52.141 52.141 0 01-2.359 3.737 50.903 50.903 0 01-8.825.01 53.993 53.993 0 01-2.367-3.718 50.933 50.933 0 01-2.036-3.894 51.007 51.007 0 012.026-3.904 52.119 52.119 0 012.358-3.737 50.903 50.903 0 018.825-.01 53.993 53.993 0 012.367 3.718 50.933 50.933 0 012.036 3.894 54.731 54.731 0 01-2.026 3.904zM33.94 24a41.94 41.94 0 011.35 3.894 43.886 43.886 0 01-4.031.783c.48-.754.958-1.527 1.409-2.32.45-.782.87-1.574 1.272-2.357zM24.02 34.44c-.91-.94-1.82-1.987-2.72-3.131.88.039 1.78.068 2.69.068.92 0 1.83-.02 2.72-.068a38.214 38.214 0 01-2.69 3.13zm-7.28-5.763c-1.389-.206-2.73-.46-4.011-.773a44.092 44.092 0 011.32-3.865c.402.783.823 1.566 1.282 2.348.46.783.93 1.546 1.41 2.29zm7.23-20.36c.91.939 1.82 1.986 2.72 3.13-.88-.039-1.78-.068-2.69-.068-.92 0-1.83.02-2.72.068a38.166 38.166 0 012.69-3.13zm-7.24 5.762a54.064 54.064 0 00-2.68 4.667 41.909 41.909 0 01-1.35-3.894 47.483 47.483 0 014.03-.773zM7.877 26.33c-3.463-1.478-5.704-3.415-5.704-4.951 0-1.536 2.24-3.483 5.704-4.95a30.151 30.151 0 012.71-.989 47 47 0 002.202 5.959 46.33 46.33 0 00-2.172 5.928 29.721 29.721 0 01-2.74-.997zm5.264 13.98c-1.33-.762-1.908-3.668-1.458-7.406.108-.92.284-1.888.499-2.876 1.918.47 4.011.831 6.213 1.066a47.725 47.725 0 004.07 4.892c-3.19 2.965-6.183 4.589-8.219 4.589-.44-.01-.812-.098-1.105-.264zm23.207-7.454c.46 3.737-.107 6.643-1.428 7.416-.294.176-.675.254-1.125.254-2.026 0-5.03-1.614-8.219-4.56a46.219 46.219 0 004.041-4.881 45.673 45.673 0 006.223-1.077c.225.988.4 1.938.508 2.848zm3.767-6.526a30.15 30.15 0 01-2.71.988 46.996 46.996 0 00-2.201-5.959 46.33 46.33 0 002.172-5.929c.968.304 1.888.636 2.749.998 3.463 1.478 5.704 3.415 5.704 4.95-.01 1.537-2.25 3.484-5.714 4.952z" fill="#61DAFB"/><path d="M23.99 25.85a4.471 4.471 0 100-8.943 4.471 4.471 0 000 8.942z" fill="#61DAFB"/></svg>
                </div>
                <a target="_blank" href="{{component.react}}" class="nsw-card__link">React</a>
              </div>
              <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
            </div>
        </div>
      </div>
      {{/if}}
    </div>
    {{#if component.kiama}}
    <h2 class="nsw-section-title">Service NSW</h2>
    <p class="nsw-section-text">If you're using the Service NSW brand, Service NSW provides branded UI kits. You can find access instructions in the documentation:</p>
    <div class="nsw-grid">
      <div class="nsw-col nsw-col-sm-6 nsw-col-md-4">
        <div class="nsw-card nsw-card--content">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <div class="nsw-card__title-icon">
                  <svg width="48" height="43" viewBox="0 0 48 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M48 21.378c0-3.18-3.982-6.193-10.087-8.062 1.409-6.223.783-11.173-1.977-12.758C35.3.186 34.556.01 33.745.01v2.182c.45 0 .812.088 1.115.254 1.33.763 1.908 3.669 1.458 7.406a30.13 30.13 0 01-.499 2.877 47.419 47.419 0 00-6.213-1.066 47.722 47.722 0 00-4.07-4.893c3.19-2.964 6.183-4.588 8.219-4.588V0c-2.691 0-6.213 1.918-9.775 5.244C20.42 1.937 16.897.04 14.206.04v2.182c2.026 0 5.03 1.614 8.219 4.56a46.205 46.205 0 00-4.041 4.881 45.692 45.692 0 00-6.223 1.077 29.52 29.52 0 01-.508-2.838c-.46-3.737.107-6.643 1.428-7.416.294-.176.675-.254 1.125-.254V.049c-.822 0-1.565.176-2.21.548-2.75 1.585-3.367 6.526-1.948 12.729C3.962 15.204 0 18.208 0 21.378c0 3.18 3.982 6.193 10.087 8.062-1.409 6.223-.782 11.173 1.977 12.758.636.372 1.38.548 2.201.548 2.69 0 6.213-1.918 9.774-5.244 3.561 3.307 7.084 5.205 9.774 5.205.822 0 1.566-.176 2.212-.548 2.749-1.585 3.365-6.526 1.947-12.729C44.038 27.561 48 24.548 48 21.378zm-12.739-6.526a44.092 44.092 0 01-1.32 3.865 46.386 46.386 0 00-1.282-2.348 53.01 53.01 0 00-1.41-2.29c1.39.205 2.73.46 4.012.773zm-4.48 10.42a52.141 52.141 0 01-2.359 3.737 50.903 50.903 0 01-8.825.01 53.993 53.993 0 01-2.367-3.718 50.933 50.933 0 01-2.036-3.894 51.007 51.007 0 012.026-3.904 52.119 52.119 0 012.358-3.737 50.903 50.903 0 018.825-.01 53.993 53.993 0 012.367 3.718 50.933 50.933 0 012.036 3.894 54.731 54.731 0 01-2.026 3.904zM33.94 24a41.94 41.94 0 011.35 3.894 43.886 43.886 0 01-4.031.783c.48-.754.958-1.527 1.409-2.32.45-.782.87-1.574 1.272-2.357zM24.02 34.44c-.91-.94-1.82-1.987-2.72-3.131.88.039 1.78.068 2.69.068.92 0 1.83-.02 2.72-.068a38.214 38.214 0 01-2.69 3.13zm-7.28-5.763c-1.389-.206-2.73-.46-4.011-.773a44.092 44.092 0 011.32-3.865c.402.783.823 1.566 1.282 2.348.46.783.93 1.546 1.41 2.29zm7.23-20.36c.91.939 1.82 1.986 2.72 3.13-.88-.039-1.78-.068-2.69-.068-.92 0-1.83.02-2.72.068a38.166 38.166 0 012.69-3.13zm-7.24 5.762a54.064 54.064 0 00-2.68 4.667 41.909 41.909 0 01-1.35-3.894 47.483 47.483 0 014.03-.773zM7.877 26.33c-3.463-1.478-5.704-3.415-5.704-4.951 0-1.536 2.24-3.483 5.704-4.95a30.151 30.151 0 012.71-.989 47 47 0 002.202 5.959 46.33 46.33 0 00-2.172 5.928 29.721 29.721 0 01-2.74-.997zm5.264 13.98c-1.33-.762-1.908-3.668-1.458-7.406.108-.92.284-1.888.499-2.876 1.918.47 4.011.831 6.213 1.066a47.725 47.725 0 004.07 4.892c-3.19 2.965-6.183 4.589-8.219 4.589-.44-.01-.812-.098-1.105-.264zm23.207-7.454c.46 3.737-.107 6.643-1.428 7.416-.294.176-.675.254-1.125.254-2.026 0-5.03-1.614-8.219-4.56a46.219 46.219 0 004.041-4.881 45.673 45.673 0 006.223-1.077c.225.988.4 1.938.508 2.848zm3.767-6.526a30.15 30.15 0 01-2.71.988 46.996 46.996 0 00-2.201-5.959 46.33 46.33 0 002.172-5.929c.968.304 1.888.636 2.749.998 3.463 1.478 5.704 3.415 5.704 4.95-.01 1.537-2.25 3.484-5.714 4.952z" fill="#61DAFB"/><path d="M23.99 25.85a4.471 4.471 0 100-8.943 4.471 4.471 0 000 8.942z" fill="#61DAFB"/></svg>
                </div>
                <a target="_blank" href="{{component.kiama}}" class="nsw-card__link">React</a>
              </div>
              <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
            </div>
        </div>
      </div>
    </div>
    {{/if}}
  </section>
</div>
